{% extends 'event/side-bars.html' %}

{% load static %}

{% block stylesheets %}
<link href="{% static 'css/event/event-main.css' %}" rel="stylesheet">
{% endblock %}

{% block page %}
{% include 'event/event-nav.html' %}
<div class="content">
    <div class="event-main">
        <h1>{{ event.title }}</h1>
        <h2>{{ event.start_time }}</h2>
        <h2>{{ event.location }}</h2>
        <div>
            <p class=" event-font">{{ event.description }}
                AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
                AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
                AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
                AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
                AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
                AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
                AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
                AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
                AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
                AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
                AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
                AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
            </p>

            <div class=" event-font">{{ event.participators }} are going. </div>
        </div>
    </div>
    <div class="org-container">
        <div class="event-org">
            <div class="org-content">
                <img src="{% static 'misc/default.jpg' %}" class="org-img">
                <div style="display: flex; gap: 5px;">
                    <div style="color: #050505; margin-bottom: 5%;"><b>Organizer's name</b></div>
                    <img src="{% static 'misc/verified.png' %}" class="verified"
                        style="height: 20px; width: 20px; border-radius: 30px;">
                </div>
                <div style="color: #536471; margin-bottom: 5%; text-align: center; width: 76%;"><b
                        style="color: #050505;">70k</b> Followers</div>
                <div class="follow-btn">Follow</div>
            </div>

        </div>
        <div class="event-org">Map</div>
    </div>
</div>
{% endblock %}