{% extends 'event/side-bars.html' %}

{% load static %}

{% load my_tags %}

{% block stylesheets %}
{% load static %}
<link href="{% static 'css/event/event-post.css' %}" rel="stylesheet">
<link href="{% static 'css/event/event-main.css' %}" rel="stylesheet">
<link href="{% static 'css/columns.css' %}" rel="stylesheet">
<style>
    .post-id {
        cursor: pointer;
    }

    @media only screen and (max-width: 600px) {}
</style>
{% endblock %}

{% block javascripts %}
{{ block.super }}
<script>
    console.log("idk");
    function postComment(div_id, pid) {
        $(document).ready(() => {
            $('#myDiv' + div_id).load('./threads/', function () {
                const addButton = document.getElementsByName('add-btn');
                addButton.forEach(e => {
                    e.addEventListener("click", () => {
                        const title = ""
                        const user_id = "{{ current_id }}"
                        const content = document.getElementById("comm-con").value;
                        const images = "";
                        const item_type = "comment";
                        const timestamp = new Date().toJSON().slice(11, 19);
                        const parent_id = pid;
                        var t = [title, user_id, content, images, item_type, timestamp, parent_id]
                        $.ajax({
                            type: 'POST',
                            url: '/comment-create',
                            data: {
                                'title': title,
                                'user_id': user_id,
                                'content': content,
                                'images': images,
                                'item_type': item_type,
                                'timestamp': timestamp,
                                'parent_id': parent_id,
                                'generic-submit': 'generic-submit'
                            },
                            success: function (response) {
                                console.log("jQuery succ");
                                $("#recent" + div_id).append(response);
                                console.log(response);
                            },
                            error: function (response) {
                                console.log('Error:', response);
                            }
                        })
                    });
                });
            });
        });
    }
</script>
{% endblock %}

{% block page %}
{% include 'event/event-nav.html' %}
<div class="discussion-container">
    {% for d in discussions %}
    {% if d.item_type == "starter" %}
    <div class="post" name="xd" id="{{ d.id }}">
        <div class="post-id" id="post_{{ d.id }}">
            <div class="post-header">
                {% load static %}
                <img src="{% static 'random.jpg' %}" class="owner-img"></img>
                <div style="margin-top: 1%; margin-left: 1%;">
                    <div><b>{{ d.user.username }}</b></div>
                    <div>{{ d.timestamp }}</div>
                </div>
            </div>
            <div class="post-content">
                <div>{{ d.content }}</div>
            </div>
            <img src="{% static 'random.jpg' %}" class="post-img"></img>
        </div>
        <div class="post-footer">
            <div class="footer-item" style="margin-left: 8%;">
                <img src="{% static 'heart.png' %}" class="upvote-img" name="likes"></img>
                <div style="position:relative; left: 25%;">
                    {% for k in stats %}
                    {% if k == d.id %}
                    {{ stats|get_value_from_dict:k }}
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div class="footer-item">
                <img src="{% static 'views.png' %}" class="views-img" name="views"></img>
                <div style="position:relative; left: 25%;">
                    {% for k in stats %}
                    {% if k == d.id %}
                    {{ stats|get_views:k }}
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
        <div name="comment-widget" class="comment-widget">
            <div id="recent{{ forloop.counter0 }}_{{ d.user_id }}" name="surface-comment"
                class="comment-widget">

            </div>
            <div id="myDiv{{ forloop.counter0 }}_{{ d.user_id }}" name="surface-comment" class="comment-widget">

            </div>
        </div>

        <script>
            document.getElementById("post_{{ d.id }}").addEventListener("click", () => {
                window.location.href = "{% url 'discussion-details' event_id=event.id post_id=d.id  %}";
            });
            postComment("{{ forloop.counter0 }}_{{ d.user_id }}", "{{ d.id }}");
        </script>
    </div>
    {% endif %}
    {% endfor %}
</div>

{% endblock %}