{% extends 'event/side-bars.html' %}

{% load static %}

{% block stylesheets %}
<link href="{% static 'css/event/event-dashboard.css' %}?{% now 'U' %}" rel="stylesheet">
<link href="{% static 'css/event/event-main.css' %}" rel="stylesheet">
<link href="{% static 'css/columns.css' %}" rel="stylesheet">
<link href="{% static 'css/combo-box.css' %}" rel="stylesheet">
<link href="{% static 'css/icon.css' %}" rel="stylesheet">
{% endblock %}

{% block javascripts %}
{{ block.super }}
<script src="{% static 'css/combo-box.js' %}"></script>
<script>
    dashboardSetup();

    function dashboardSetup() {
        $(document).ready(() => {
            document.getElementById("sb2").remove();
            document.getElementById("sb-fc").style.width = "65%";
            document.getElementById("sb-fc").style.backgroundColor = "#e4e6eb";
            document.getElementById("body").style.backgroundColor = "#e4e6eb";
        });
    }
</script>
{% endblock %}

{% block sb1 %}
<div class="filters">
    <img src="{% static 'tools/filter.png' %}" class="filter-img">
    <div class="col-12 col-flex col-gap" style="align-items: center;">
        <div class="is bi-nh round-icon" style="display:grid; place-content:center;">        
            <img src="{% static 'tools/category.png'%}" class="is3">
        </div>
        <div class="dropdown">
            <div class="select">
              <span>Select Category</span>
              <i class="fa fa-chevron-left"></i>
            </div>
            <input type="hidden" name="gender">
            <ul class="dropdown-menu">
              <li>Sports</li>
              <li>Music</li>
              <li>Social</li>
            </ul>
          </div>
    </div>
    <div class="col-12 col-flex col-gap" style="align-items: center;">
        <div class="is bi-nh round-icon" style="display:grid; place-content:center;">        
            <img src="{% static 'tools/pin.png'%}" class="is3">
        </div>
        <input type="textarea" placeholder="Location" class="bar">
    </div>
    <div class="col-12 col-flex col-gap col-rel" style="align-items: center;">
        <div class="is bi-nh round-icon" style="display:grid; place-content:center; position: relative; bottom: 25px; left: 0px;">        
            <img src="{% static 'tools/calendar.png'%}" class="is3">
        </div>
        <div class="col-col col-gap col-12">
            <div class="col-flex col-gap col-12" style="align-items: center;">
                <div class="def-font" style="color: white;">from</div>
                <input type="date" id="s-date" class="bar">
            </div>
            <div class="col-flex col-gap col-12" style="align-items: center;">
                <div class="def-font" style="color: white; width: 33.84px;">to</div>
                <input type="date" id="s-date" class="bar">
            </div>
        </div>
    </div>
    <div class="col-12 col-flex col-gap" style="align-items: center;">
        <div class="is bi-nh round-icon" style="display:grid; place-content:center;">        
            <img src="{% static 'tools/pin.png'%}" class="is3">
        </div>
        <input type="textarea" placeholder="#Tags" class="bar">
    </div>
    
</div>
{% endblock %}

{% block page %}
<form method="POST">
    <a href="event-create" name="open-event-create" class="content-link" style="text-decoration:none;">Add Event</a>
</form>
<div class="event-card-container">
    {% for values in event_list %}
    <a href="{% url 'event-detail' event_id=values.id %}" name="card-link" id="card-{{ values.id }}"
        style="text-decoration:none;">
        <div class="event-card" id="{{ values.id }}" name="card">
            <div class="event-image" style="background-image: url({% static 'random.jpg' %})"></div>
            <div class="event-title">{{ values.title }}</div>
            <div class="event-rating">Rating: {{ values.rating }}/5</div>
            <div class="event-location">Location: {{ values.location }}</div>
            <div class="event-participants"> {{ values.participators }} people are going</div>
        </div>
    </a>
    {% endfor %}
</div>
{% endblock %}